<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - error page</title>
  <link rel="stylesheet" href="/static/layui/css/errorstyle.css">

</head>
<body>
<!-- partial:index.partial.html -->
<a href="" target="_blank">
  <header class="top-header">
</header>

<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->


<div class="lamp__wrap">
  <div class="lamp">
    <div class="cable"></div>
    <div class="cover"></div>
    <div class="in-cover">
      <div class="bulb"></div>
    </div>
    <div class="light"></div>
  </div>
</div>
<!-- END Lamp -->
<section class="error">
  <!-- Content -->
  <div class="error__content">
    <div class="error__message message">
      <h1 class="message__title">用户已存在</h1>
      <p class="message__text">很抱歉您注册使用的用户已存在请尝试其他方式或与本站管理员联系</p>
    </div>
    <div class="error__nav e-nav">
      <a href="/users/login" target="_blanck" class="e-nav__link">返回</a>
    </div>
  </div>
  <!-- END Content -->

</section>

  </a>
<!-- partial -->
  
</body>
</html>
