<!DOCTYPE html>
<html lang="zh" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" type="text/css" href="/static/index_css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/index_css/component.css" />
		<script src="/static/index_js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<div id="splitlayout" class="splitlayout">
				<div class="intro">
					<div class="side side-left">
						<header class="codropsheader clearfix">
							<h2><a style="text-align: left" href="/users/register/">注册</a>
                            <a style="text-align: right" href="/users/login/">登录</a></h2>
						</header>
						<div class="intro-content">
							<div class="profile"><img src="/static/index_img/bussiness.png" alt="profile1"></div>
							<h1><span>发包方 </span><span>Land provider</span></h1>
						</div>
						<div class="overlay"></div>
					</div>
					<div class="side side-right">
						<div class="intro-content">
							<div class="profile"><img src="/static/index_img/bussiness1.png" alt="profile2"></div>
							<h1><span>承包方 </span><span>Land need</span></h1>
						</div>
						<div class="overlay"></div>
					</div>
				</div><!-- /intro -->
				<div class="page page-right">
					<div class="page-inner">
						<section>
                            <h2 style="color: red;"><a href="/need/">快速找地</a></h2>
							<p>本公司专注土地流转定制服务，以专业的开发设计团队为基础，结合大数据分析，可快速发布相关土地信息、匹配适宜土地，为土地流转双方提供一站式便捷服务，进一步提升土地流转效率，给您带来不一样的体验。</p>
							<p>我们提供全面的信息来帮助您进行土地流转，并根据您的土地流转需求通过大数据算法进行匹配为您推荐最符合您需求的相应土地，为您提供最为优质的服务。</p>
						</section>
						<section>
							<h2>如何与我们合作</h2>
							<p>您可以告诉我们相关土地流转需求，我们将为您提供最合适、最全面的土地有关情况。</p>
							<p>为更好的为您提供服务请点击上方或下方快速找地链接跳转到需求填写页面，填写相应的信息以帮助我们了解您的需求从而为您推荐相应优质土地，以及与您沟通联系</p>
                            <h2 style="color: red;"><a href="/need/">快速找地</a></h2>
						</section>
                        <section>
                            <p>我们的网站作为首家需求定制导向的网站，一定会带给您极速又舒适的土地流转体验，在这里您会找到预期想要的承包方和发包方，完成您心中的土地流转。希望与您合作愉快！</p>
                        </section>
					</div><!-- /page-inner -->
				</div><!-- /page-right -->
				<div class="page page-left">
					<div class="page-inner">
						<section>
							 <h2 style="color: red;"><a href="/add/">快速发布信息</a></h2>
							<p>本公司专注土地流转定制服务，以专业的开发设计团队为基础，结合大数据分析，可快速发布相关土地信息、匹配适宜土地，为土地流转双方提供一站式便捷服务，进一步提升土地流转效率，给您带来不一样的体验。</p>
							<p>我们提供全面的信息服务来帮助您进行土地流转，并根据您提交的土地信息通过大数据算法进行匹配为您推荐有相应需求的客户，为您提供最为优质的服务。</p>
						</section>
                        <section>
							<h2>如何与我们合作</h2>
							<p>您将您想要进行交易的土地信息提交给我们，在我们后台服务人员确认通过后会主动与您联系并为您推荐有相应需求的合作伙伴为您提供极致服务。</p>
							<p>为更好的为您提供服务请点击上方或下方快速找地链接跳转到土地填写页面，填写相应的信息以帮助我们了解您的要发布的土地以及后台审核，从而进行后台确认为您提供优质服务，以及与您沟通联系</p>
                            <p>请您如实填写土地信息，请勿填写虚假信息，对于因谎报虚假信息而造成的损失本公司概不负责</p>
                            <h2 style="color: red;"><a href="/add/">快速发布信息</a></h2>
						</section>
                        <section>
                            <p>我们的网站作为首家需求定制导向的网站，一定会带给您极速又舒适的土地流转体验，在这里您会找到预期想要的承包方和发包方，完成您心中的土地流转。希望与您合作愉快！</p>
                        </section>
					</div><!-- /page-inner -->
				</div><!-- /page-left -->
				<a href="#" class="back back-right" title="back to intro">&rarr;</a>
				<a href="#" class="back back-left" title="back to intro">&larr;</a>
			</div><!-- /splitlayout -->
		</div><!-- /container -->
		<script src="/static/index_js/classie.js"></script>
		<script src="/static/index_js/cbpSplitLayout.js"></script>
	</body>
</html>
